<html>
    <head>
        <title>Login</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" class="fadeIn second" name="{{ form.username.html_name}}" placeholder="Username" required autofocus>
                    <input type="password" class="fadeIn third" name="{{ form.password.html_name}}" placeholder="Paasword">
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>
            </div>
        </div>
    </body>
</html>